<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>mvc</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.netshop.EncodingFilter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.netshop.user.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.netshop.user.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>com.netshop.user.servlet.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/updatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.netshop.admin.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/AdminAddItemsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminItemsServlet</servlet-name>
    <servlet-class>com.netshop.admin.servlet.AdminItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminItemsServlet</servlet-name>
    <url-pattern>/adminItemsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>com.netshop.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/categoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ItemServlet</servlet-name>
    <servlet-class>com.netshop.servlet.ItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemServlet</servlet-name>
    <url-pattern>/itemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cart</servlet-name>
    <servlet-class>com.netshop.servlet.CartItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/CartItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>com.netshop.servlet.AddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/addressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.netshop.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/imageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.netshop.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.netshop.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/orderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExcelUpload</servlet-name>
    <servlet-class>com.netshop.servlet.ExcelUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelUpload</servlet-name>
    <url-pattern>/excelUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExcelProcessing</servlet-name>
    <servlet-class>com.netshop.servlet.ExcelProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelProcessing</servlet-name>
    <url-pattern>/excelProcessing</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InUpServlet</servlet-name>
    <servlet-class>com.netshop.servlet.Excel.InUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InUpServlet</servlet-name>
    <url-pattern>/inUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InProServlet</servlet-name>
    <servlet-class>com.netshop.servlet.Excel.InProServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InProServlet</servlet-name>
    <url-pattern>/inProServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OutUpServlet</servlet-name>
    <servlet-class>com.netshop.servlet.Excel.OutUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutUpServlet</servlet-name>
    <url-pattern>/outUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OutProServlet</servlet-name>
    <servlet-class>com.netshop.servlet.Excel.OutProServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutProServlet</servlet-name>
    <url-pattern>/outProServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdBookServlet</servlet-name>
    <servlet-class>com.netshop.admin.servlet.AdBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdBookServlet</servlet-name>
    <url-pattern>/adBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdLoginServlet</servlet-name>
    <servlet-class>com.netshop.servlet.AdLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdLoginServlet</servlet-name>
    <url-pattern>/adLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdCategoryServlet</servlet-name>
    <servlet-class>com.netshop.servlet.AdCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdCategoryServlet</servlet-name>
    <url-pattern>/admin/AdCategoryServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>AdminItemServlet</servlet-name>
    <servlet-class>com.netshop.servlet.AdminItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminItemServlet</servlet-name>
    <url-pattern>/admin/AdminItemServlet</url-pattern>
  </servlet-mapping>
  
  <error-page>
    <error-code>404</error-code>
    <location>/404error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NullPointerException </exception-type>
    <location>/error.jsp</location>
  </error-page>
</web-app>